body {
    max-width: 700px;
}

article h1 {
    margin-bottom: var(--sp--m);
}

article h2,
article h3,
article h4,
article h5,
article h6 {
    margin-top: var(--sp--xl);
    margin-bottom: var(--sp--xs);
}

article figcaption {
    color: var(--c--main--60);
    font-size: var(--t-s--s);
    line-height: var(--t-ln-ht--small-t);
    text-align: center;
}

article p {
    margin-top: var(--sp--m);
}

article img {
    margin-top: var(--sp--l);
    margin-bottom: var(--sp--2xs);
    width: 100%;
}

article a {
    color: inherit;
}

nav a {
    color: var(--c--main--50);
    font-weight: bold;
    text-decoration: none;
    transition: all 150ms;
}

nav a:hover {
    color: var(--c--main);
}

li a {
    color: inherit;
    text-decoration: none;
    transition: all 150ms;
}

li a:hover {
    text-decoration: underline;
}

li a::after {
    content: " ↗";
    font-size: .65em;
    vertical-align: top;
}

article a::after {
    content: " ↗";
    font-size: .65em;
    margin-bottom: 5;
}

figcaption a {
    font-size: inherit;
    color: inherit;
}