html {
    overflow: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    scrollbar-width: none;
    -ms-overflow-style: none;
    max-width: 700px;
    overflow: scroll;
}

article h1 {
    margin-bottom: var(--sp--l);
}

article p {
    margin-bottom: var(--sp--m);
}

article p + img {
    margin-bottom: var(--sp--l);
}

nav a {
    color: var(--c--main--50);
    font-weight: bold;
    text-decoration: none;
    transition: all 150ms;
}

nav a:hover {
    color: var(--c--main);
}

nav img {
    width: 100%;
}