

body {
    scrollbar-width: none;
    -ms-overflow-style: none;
    max-width: 700px;

}

body::-webkit-scrollbar {
    display: none;
}

article h1 {
    margin-bottom: var(--sp--l);
}

article p {
    margin-bottom: var(--sp--m);
}

article p + img {
    margin-top: var(--sp--xs);
}

article img + p {
    margin-top: calc(var(--sp--m) + var(--sp--xs));
}

article img {
    width: 100%;
}

nav a {
    color: var(--c--main--50);
    font-weight: bold;
    text-decoration: none;
    transition: all 150ms;
}

nav a:hover {
    color: var(--c--main);
}