.hid {
  display: none !important;
}

.ut-beautiful-shadow {
  box-shadow: 2px 10px 23px 0px rgba(38, 38, 38, 0.05), 7px 41px 41px 0px rgba(38, 38, 38, 0.04), 16px 91px 56px 0px rgba(38, 38, 38, 0.02), 29px 162px 66px 0px rgba(38, 38, 38, 0.01), 45px 254px 72px 0px rgba(38, 38, 38, 0.00);
}

@media only screen and (min-width: 992px) {

  /* only desktop */
  .hid-desktop {
    display: none;
  }
}

@media only screen and (min-width: 620px) and (max-width: 991px) {

  /* only tablet */
  .hid-tablet {
    display: none;
  }
}

@media only screen and (max-width: 619px) {

  /* only mobile */
  .hid-mobile {
    display: none;
  }
}

.ut-of--hid {
  overflow: hidden;
}

.ut-link {
  color: inherit;
}

.ut-obj-respond {
  /* make objects (svg, img) to addapt to their containers */
  width: 100%;
}

.ut-logo {
  width: calc(.85 * var(--sp--2xl));
}

.ut-icon {
  width: calc(.85 * var(--sp--l));
  height: 50px;
}

.ut-bb {
  border-bottom: var(--sp--2xs) solid var(--c--main);
}

