:root {
    --c--main: rgb(19, 17, 23);
    --c--main--95: rgba(19, 17, 23, .95);
    --c--main--90: rgba(19, 17, 23, .9);
    --c--main--85: rgba(19, 17, 23, .85);
    --c--main--80: rgba(19, 17, 23, .8);
    --c--main--75: rgba(19, 17, 23, .75);
    --c--main--70: rgba(19, 17, 23, .7);
    --c--main--65: rgba(19, 17, 23, .65);
    --c--main--60: rgba(19, 17, 23, .6);
    --c--main--55: rgba(19, 17, 23, .55);
    --c--main--50: rgba(19, 17, 23, .5);
    --c--main--45: rgba(19, 17, 23, .45);
    --c--main--40: rgba(19, 17, 23, .4);
    --c--main--35: rgba(19, 17, 23, .35);
    --c--main--30: rgba(19, 17, 23, .3);
    --c--main--25: rgba(19, 17, 23, .25);
    --c--main--20: rgba(19, 17, 23, .2);
    --c--main--15: rgba(19, 17, 23, .15);
    --c--main--10: rgba(19, 17, 23, .1);
    --c--main--10--pure: #E7E7E8;
    --c--main--05: rgba(19, 17, 23, .05);
    /* ----- */
    --c--accent: rgb(245, 93, 62);
    --c--accent--95: rgba(245, 93, 62, .95);
    --c--accent--90: rgba(245, 93, 62, .9);
    --c--accent--85: rgba(245, 93, 62, .85);
    --c--accent--80: rgba(245, 93, 62, .8);
    --c--accent--75: rgba(245, 93, 62, .75);
    --c--accent--70: rgba(245, 93, 62, .7);
    --c--accent--65: rgba(245, 93, 62, .65);
    --c--accent--60: rgba(245, 93, 62, .6);
    --c--accent--55: rgba(245, 93, 62, .55);
    --c--accent--50: rgba(245, 93, 62, .5);
    --c--accent--45: rgba(245, 93, 62, .45);
    --c--accent--40: rgba(245, 93, 62, .4);
    --c--accent--35: rgba(245, 93, 62, .35);
    --c--accent--30: rgba(245, 93, 62, .3);
    --c--accent--25: rgba(245, 93, 62, .25);
    --c--accent--20: rgba(245, 93, 62, .2);
    --c--accent--15: rgba(245, 93, 62, .15);
    --c--accent--10: rgba(245, 93, 62, .1);
    --c--accent--05: rgba(245, 93, 62, .05);
    --c--accent--0: rgba(245, 93, 62, 0);
    /* ----- */
    --c--gray: rgb(245, 245, 245);
    --c--gray--95: rgba(245, 245, 245, .95);
    --c--gray--90: rgba(245, 245, 245, .9);
    --c--gray--85: rgba(245, 245, 245, .85);
    --c--gray--80: rgba(245, 245, 245, .8);
    --c--gray--75: rgba(245, 245, 245, .75);
    --c--gray--70: rgba(245, 245, 245, .7);
    --c--gray--65: rgba(245, 245, 245, .65);
    --c--gray--60: rgba(245, 245, 245, .6);
    --c--gray--55: rgba(245, 245, 245, .55);
    --c--gray--50: rgba(245, 245, 245, .5);
    --c--gray--45: rgba(245, 245, 245, .45);
    --c--gray--40: rgba(245, 245, 245, .4);
    --c--gray--35: rgba(245, 245, 245, .35);
    --c--gray--30: rgba(245, 245, 245, .3);
    --c--gray--25: rgba(245, 245, 245, .25);
    --c--gray--20: rgba(245, 245, 245, .2);
    --c--gray--15: rgba(245, 245, 245, .15);
    --c--gray--10: rgba(245, 245, 245, .1);
    /* ----- */
    --c--white: rgb(255, 255, 255);
    --c--white--95: rgba(255, 255, 255, .95);
    --c--white--90: rgba(255, 255, 255, .9);
    --c--white--85: rgba(255, 255, 255, .85);
    --c--white--80: rgba(255, 255, 255, .8);
    --c--white--75: rgba(255, 255, 255, .75);
    --c--white--70: rgba(255, 255, 255, .7);
    --c--white--65: rgba(255, 255, 255, .65);
    --c--white--60: rgba(255, 255, 255, .6);
    --c--white--55: rgba(255, 255, 255, .55);
    --c--white--50: rgba(255, 255, 255, .5);
    --c--white--45: rgba(255, 255, 255, .45);
    --c--white--40: rgba(255, 255, 255, .4);
    --c--white--35: rgba(255, 255, 255, .35);
    --c--white--30: rgba(255, 255, 255, .3);
    --c--white--25: rgba(255, 255, 255, .25);
    --c--white--20: rgba(255, 255, 255, .2);
    --c--white--15: rgba(255, 255, 255, .15);
    --c--white--10: rgba(255, 255, 255, .1);
}