:root {
    --sp--nil: 0rem;
    --sp--2xs: 0.25rem;
    --sp--2_5xs: 0.375rem;
    --sp--xs: 0.5rem;
    --sp--s: 0.75rem;
    --sp--m: 1rem;
    --sp--l: 1.5rem;
    --sp--xl: 2rem;
    --sp--2xl: 3rem;
    --sp--3xl: 4rem;
    --sp--4xl: 6rem;
    --sp--5xl: 8rem;
    --sp--6xl: 12rem;
    --sp--7xl: 16rem;
    --sp--8xl: 20rem;
    --sp--9xl: 24rem;
    --sp--10xl: 28rem;
    --sp--11xl: 32rem;
    --sp--12xl: 36rem;
    --sp--13xl: 40rem;
    --sp--14xl: 44rem;
    --sp--15xl: 48rem;
    --sp--site-width: 1512px;
}

@media only screen and (max-width: 991px) {
    :root {
        --sp--2xl: 2.5rem;
        --sp--3xl: 3.5rem;
        --sp--4xl: 4.5rem;
        --sp--5xl: 5.5rem;
        --sp--6xl: 7.5rem;
        --sp--7xl: 9.5rem;
        --sp--8xl: 11.5rem;
        --sp--9xl: 13.5rem;
        --sp--10xl: 15.5rem;
        --sp--11xl: 17.5rem;
        --sp--12xl: 19.5rem;
        --sp--13xl: 21.5rem;
        --sp--14xl: 23.5rem;
        --sp--15xl: 25.5rem;
    }
}

@media only screen and (max-width: 619px) {
    :root {
        --sp--3xl: 3rem;
        --sp--4xl: 4rem;
        --sp--5xl: 5rem;
        --sp--6xl: 6rem;
        --sp--7xl: 7rem;
        --sp--8xl: 9rem;
        --sp--9xl: 11rem;
        --sp--10xl: 13rem;
        --sp--11xl: 15rem;
        --sp--12xl: 17rem;
        --sp--13xl: 19rem;
        --sp--14xl: 21rem;
        --sp--15xl: 23rem;
    }
}